./packages @garden-co/framework
./tests @garden-co/framework
./packages/quint-ui @garden-co/ui

./homepage @garden-co/ui
./homepage/homepage/content/docs @garden-co/docs
./starters @garden-co/docs
./examples @garden-co/docs @garden-co/ui
