@import "@garden-co/design-system/src/app/globals.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :focus {
    @apply outline-none;
  }

  :focus-visible {
    @apply ring-2 ring-blue/75 dark:ring-blue-400/75;
  }

  details > summary {
    @apply cursor-pointer;

    &.list-none::-webkit-details-marker,
    &.list-none::marker {
      display: none;
    }
  }
}

pre.shiki {
  height: 100%;
  padding: 0.65em 0;
  background-color: transparent !important;
}

.twoslash-popup-container {
  white-space: break-spaces;
}

.twoslash-popup-code pre.shiki {
  padding: 0.2em;
  font-size: 0.8em;
}

.twoslash-hover {
  position: initial !important;
}

pre.shiki .line {
  display: inline-block;
  width: 100%;
  padding-left: 1em;
  line-height: 1.5;
  cursor: text;
}

.twoslash-popup-code pre.shiki .line {
  display: inline;
  padding-left: 0;
  white-space: break-spaces;
}

html.dark .shiki {
  color: var(--shiki-dark) !important;
  background-color: transparent !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

html.dark .shiki span {
  color: var(--shiki-dark) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

.shiki .line.diff.remove {
  background-color: rgba(255, 0, 0, 0.1) !important;
}

.shiki .line.diff.add {
  background-color: rgba(0, 255, 0, 0.1) !important;
}

html.dark {
  --twoslash-popup-bg: #1b1a1a;
  --twoslash-border-color: #2f2e2e;
}

@import "@shikijs/twoslash/style-rich.css";

/* fix for https://github.com/garden-co/jazz/issues/2257*/
.twoslash .twoslash-popup-container {
  display: none;
}
.twoslash .twoslash-hover:hover .twoslash-popup-container,
 .twoslash .twoslash-error-hover:hover .twoslash-popup-container,
 .twoslash .twoslash-query-presisted .twoslash-popup-container,
 .twoslash .twoslash-query-line .twoslash-popup-container {
  display: inline-flex;
 }
