:root {
  --color-primary: #146AFF;
  --color-secondary: #000000;
  --color-highlight: #2DC9C9;
  --color-success: #42BB69;
  --color-info: #FBC400;
  --color-warning: #FF601C;
  --color-tip: #B441EB;
  --color-green: #8BDA27;
  --color-pink: #EF478E;
  
  --color-default: theme("colors.stone.700");
  --color-highlight: theme("colors.stone.900");
  --color-muted: theme("colors.stone.300");

  --color-transparent-white: rgba(255, 255, 255, 0.1);
  --color-bg-highlight: theme("colors.blue.50");
}

.dark {
  --color-default: theme("colors.stone.400");
  --color-highlight: theme("colors.white");
  --color-muted: theme("colors.stone.700");

  --color-bg-highlight: rgba(255, 255, 255, 0.1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
