@import "tailwindcss";
@import "tw-animate-css";

/* Dark mode. If you want to use dark mode, you can add the dark class to the body/head element. */
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-dark: var(--primary-dark);
  --color-primary-light: var(--primary-light);
  --color-primary-brightLight: var(--primary-brightLight);
  --color-primary-brightDark: var(--primary-brightDark);
  --color-primary-10: var(--primary-10);
  --color-primary-20: var(--primary-20);
  --color-primary-25: var(--primary-25);
  --color-primary-30: var(--primary-30);
  --color-primary-50: var(--primary-50);

  --color-alert: var(--alert);
  --color-alert-foreground: var(--alert-foreground);
  --color-alert-dark: var(--alert-dark);
  --color-alert-light: var(--alert-light);
  --color-alert-brightLight: var(--alert-brightLight);
  --color-alert-brightDark: var(--alert-brightDark);
  --color-alert-10: var(--alert-10);
  --color-alert-20: var(--alert-20);
  --color-alert-25: var(--alert-25);
  --color-alert-30: var(--alert-30);
  --color-alert-50: var(--alert-50);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-success-dark: var(--success-dark);
  --color-success-light: var(--success-light);
  --color-success-brightLight: var(--success-brightLight);
  --color-success-brightDark: var(--success-brightDark);
  --color-success-10: var(--success-10);
  --color-success-20: var(--success-20);
  --color-success-25: var(--success-25);
  --color-success-30: var(--success-30);
  --color-success-50: var(--success-50);

  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-info-dark: var(--info-dark);
  --color-info-light: var(--info-light);
  --color-info-brightLight: var(--info-brightLight);
  --color-info-brightDark: var(--info-brightDark);
  --color-info-10: var(--info-10);
  --color-info-20: var(--info-20);
  --color-info-25: var(--info-25);
  --color-info-30: var(--info-30);
  --color-info-50: var(--info-50);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning-light: var(--warning-light);
  --color-warning-dark: var(--warning-dark);
  --color-warning-brightLight: var(--warning-brightLight);
  --color-warning-brightDark: var(--warning-brightDark);
  --color-warning-10: var(--warning-10);
  --color-warning-20: var(--warning-20);
  --color-warning-25: var(--warning-25);
  --color-warning-30: var(--warning-30);
  --color-warning-50: var(--warning-50);

  --color-tip: var(--tip);
  --color-tip-foreground: var(--tip-foreground);
  --color-tip-dark: var(--tip-dark);
  --color-tip-light: var(--tip-light);
  --color-tip-brightLight: var(--tip-brightLight);
  --color-tip-brightDark: var(--tip-brightDark);
  --color-tip-10: var(--tip-10);
  --color-tip-20: var(--tip-20);
  --color-tip-25: var(--tip-25);
  --color-tip-30: var(--tip-30);
  --color-tip-50: var(--tip-50);

  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);
  --color-danger-dark: var(--danger-dark);
  --color-danger-light: var(--danger-light);
  --color-danger-brightLight: var(--danger-brightLight);
  --color-danger-brightDark: var(--danger-brightDark);
  --color-danger-10: var(--danger-10);
  --color-danger-20: var(--danger-20);
  --color-danger-25: var(--danger-25);
  --color-danger-30: var(--danger-30);
  --color-danger-50: var(--danger-50);
}

:root {
  --primary: oklch(57.29% 0.235 261.2);
  --primary-10: lch(from var(--primary) l c h / 0.1);
  --primary-20: lch(from var(--primary) l c h / 0.2);
  --primary-25: lch(from var(--primary) l c h / 0.25);
  --primary-30: lch(from var(--primary) l c h / 0.3);
  --primary-50: lch(from var(--primary) l c h / 0.5);
  --primary-dark: lch(
    from var(--color-primary) calc(l - 10) calc(c - 1) calc(h + 5)
  );
  --primary-light: lch(
    from var(--color-primary) calc(l + 10) calc(c + 1) calc(h - 5)
  );
  --primary-brightLight: lch(
    from var(--color-primary) calc(l - 1) calc(c + 20) calc(h + 5)
  );
  --primary-brightDark: lch(
    from var(--color-primary) calc(l - 6) calc(c + 20) calc(h + 5)
  );
  --primary-foreground: oklch(0.985 0.045 264.32);

  --alert: oklch(80.54% 0.169 76.45);
  --alert-10: lch(from var(--alert) l c h / 0.1);
  --alert-20: lch(from var(--alert) l c h / 0.2);
  --alert-25: lch(from var(--alert) l c h / 0.25);
  --alert-30: lch(from var(--alert) l c h / 0.3);
  --alert-50: lch(from var(--alert) l c h / 0.5);
  --alert-dark: oklch(0.773 0.212 90.04);
  --alert-light: oklch(0.883 0.232 80.04);
  --alert-brightLight: oklch(0.833 0.522 100.04);
  --alert-brightDark: oklch(0.803 0.522 100.04);
  --alert-foreground: oklch(0.28 0.07 46);

  --success: oklch(70.49% 0.16 150.62);
  --success-10: lch(from var(--success) l c h / 0.1);
  --success-20: lch(from var(--success) l c h / 0.2);
  --success-25: lch(from var(--success) l c h / 0.25);
  --success-30: lch(from var(--success) l c h / 0.3);
  --success-50: lch(from var(--success) l c h / 0.5);
  --success-dark: lch(
    from var(--color-success) calc(l - 7) calc(c - 1) calc(h + 5)
  );
  --success-light: lch(
    from var(--color-success) calc(l + 4) calc(c + 1) calc(h - 5)
  );
  --success-brightLight: lch(
    from var(--color-success) calc(l - 1) calc(c + 20) calc(h + 10)
  );
  --success-brightDark: lch(
    from var(--color-success) calc(l - 6) calc(c + 20) calc(h + 10)
  );
  --success-foreground: oklch(0.28 0.07 46);

  --info: oklch(61.13% 0.248 312.2);
  --info-10: lch(from var(--info) l c h / 0.1);
  --info-20: lch(from var(--info) l c h / 0.2);
  --info-25: lch(from var(--info) l c h / 0.25);
  --info-30: lch(from var(--info) l c h / 0.3);
  --info-50: lch(from var(--info) l c h / 0.5);
  --info-dark: oklch(0.444 0.237 296.21);
  --info-light: oklch(0.554 0.257 286.21);
  --info-brightLight: oklch(0.504 0.447 296.21);
  --info-brightDark: oklch(0.474 0.447 296.21);
  --info-foreground: oklch(0.28 0.07 46);

  --warning: oklch(68.92% 0.206 39.71);
  --warning-10: lch(from var(--warning) l c h / 0.1);
  --warning-20: lch(from var(--warning) l c h / 0.2);
  --warning-25: lch(from var(--warning) l c h / 0.25);
  --warning-30: lch(from var(--warning) l c h / 0.3);
  --warning-50: lch(from var(--warning) l c h / 0.5);
  --warning-dark: oklch(0.591 0.362 80.45);
  --warning-light: oklch(0.701 0.382 70.45);
  --warning-brightLight: oklch(0.651 0.672 90.45);
  --warning-brightDark: oklch(0.621 0.672 90.45);
  --warning-foreground: oklch(0.28 0.07 46);

  --tip: oklch(76.08% 0.122 194.9);
  --tip-10: lch(from var(--tip) l c h / 0.1);
  --tip-20: lch(from var(--tip) l c h / 0.2);
  --tip-25: lch(from var(--tip) l c h / 0.25);
  --tip-30: lch(from var(--tip) l c h / 0.3);
  --tip-50: lch(from var(--tip) l c h / 0.5);
  --tip-dark: oklch(0.525 0.307 181.3);
  --tip-light: oklch(0.635 0.327 171.3);
  --tip-brightLight: oklch(0.585 0.617 186.3);
  --tip-brightDark: oklch(0.555 0.617 186.3);
  --tip-foreground: oklch(0.28 0.07 46);

  --danger: oklch(64.11% 0.202 23.95);
  --danger-10: lch(from var(--danger) l c h / 0.1);
  --danger-20: lch(from var(--danger) l c h / 0.2);
  --danger-25: lch(from var(--danger) l c h / 0.25);
  --danger-30: lch(from var(--danger) l c h / 0.3);
  --danger-50: lch(from var(--danger) l c h / 0.5);
  --danger-dark: lch(
    from var(--color-danger) calc(l - 7) calc(c - 1) calc(h + 5)
  );
  --danger-light: lch(
    from var(--color-danger) calc(l + 4) calc(c + 1) calc(h - 5)
  );
  --danger-brightLight: lch(
    from var(--color-danger) calc(l - 2) calc(c + 20) calc(h + 10)
  );
  --danger-brightDark: lch(
    from var(--color-danger) calc(l - 6) calc(c + 10) calc(h + 10)
  );
  --danger-foreground: oklch(0.28 0.07 46);
}

.dark {
  /*
   * Dark mode styles.
   * Here you can override the css variables above for dark mode.
  */
}
