@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@custom-variant fixed (&:is(.layout-fixed *));

@theme inline {
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 2000px;
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);
  --color-code: var(--code);
  --color-code-foreground: var(--code-foreground);
  --color-code-highlight: var(--code-highlight);
  --color-code-number: var(--code-number);
  --color-selection: var(--selection);
  --color-selection-foreground: var(--selection-foreground);



  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-transparent: var(--primary-transparent);
  --color-primary-dark: var(--primary-dark);
  --color-primary-light: var(--primary-light);
  --color-primary-brightLight: var(--primary-brightLight);
  --color-primary-brightDark: var(--primary-brightDark);

  --color-alert: var(--alert);
  --color-alert-foreground: var(--alert-foreground);
  --color-alert-transparent: var(--alert-transparent);
  --color-alert-dark: var(--alert-dark);
  --color-alert-light: var(--alert-light);
  --color-alert-brightLight: var(--alert-brightLight);
  --color-alert-brightDark: var(--alert-brightDark);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-success-transparent: var(--success-transparent);
  --color-success-dark: var(--success-dark);
  --color-success-light: var(--success-light);
  --color-success-brightLight: var(--success-brightLight);
  --color-success-brightDark: var(--success-brightDark);

  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-info-transparent: var(--info-transparent);
  --color-info-dark: var(--info-dark);
  --color-info-light: var(--info-light);
  --color-info-brightLight: var(--info-brightLight);
  --color-info-brightDark: var(--info-brightDark);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning-transparent: var(--warning-transparent);
  --color-warning-light: var(--warning-light);
  --color-warning-dark: var(--warning-dark);
  --color-warning-brightLight: var(--warning-brightLight);
  --color-warning-brightDark: var(--warning-brightDark);

  --color-tip: var(--tip);
  --color-tip-foreground: var(--tip-foreground);
  --color-tip-transparent: var(--tip-transparent);
  --color-tip-dark: var(--tip-dark);
  --color-tip-light: var(--tip-light);
  --color-tip-brightLight: var(--tip-brightLight);
  --color-tip-brightDark: var(--tip-brightDark);

  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);
  --color-danger-transparent: var(--danger-transparent);
  --color-danger-dark: var(--danger-dark);
  --color-danger-light: var(--danger-light);
  --color-danger-brightLight: var(--danger-brightLight);
  --color-danger-brightDark: var(--danger-brightDark);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: var(--color-blue-300);
  --chart-2: var(--color-blue-500);
  --chart-3: var(--color-blue-600);
  --chart-4: var(--color-blue-700);
  --chart-5: var(--color-blue-800);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --surface: oklch(0.98 0 0);
  --surface-foreground: var(--foreground);
  --code: var(--surface);
  --code-foreground: var(--surface-foreground);
  --code-highlight: oklch(0.96 0 0);
  --code-number: oklch(0.56 0 0);
  --selection: oklch(0.145 0 0);
  --selection-foreground: oklch(1 0 0);

  --primary: oklch(57.29% 0.235 261.20);
  --primary-transparent: lch(from var(--color-primary) l c h / 0.1);
  --primary-dark:lch(from var(--color-primary) calc(l - 10) calc(c - 1) calc(h + 5));
  --primary-light: lch(from var(--color-primary) calc(l + 10) calc(c + 1) calc(h - 5));
  --primary-brightLight: lch(from var(--color-primary) calc(l - 1) calc(c + 20) calc(h + 5));
  --primary-brightDark: lch(from var(--color-primary) calc(l - 6) calc(c + 20) calc(h + 5));
  --primary-foreground: oklch(0.985 0.045 264.32);

  --alert: oklch(80.54% 0.169 76.45);
  --alert-transparent: oklch(0.843 0.222 85.04 / 0.3);
  --alert-dark: oklch(0.773 0.212 90.04);
  --alert-light: oklch(0.883 0.232 80.04);
  --alert-brightLight: oklch(0.833 0.522 100.04);
  --alert-brightDark: oklch(0.803 0.522 100.04);
  --alert-foreground: oklch(0.28 0.07 46);

  --success: oklch(70.49% 0.160 150.62);
  --success-transparent: lch(from var(--color-success) l c h / 0.3);
  --success-dark: lch(from var(--color-success) calc(l - 7) calc(c - 1) calc(h + 5));
  --success-light: lch(from var(--color-success) calc(l + 4) calc(c + 1) calc(h - 5));
  --success-brightLight: lch(from var(--color-success) calc(l - 1) calc(c + 20) calc(h + 10));
  --success-brightDark: lch(from var(--color-success) calc(l - 6) calc(c + 20) calc(h + 10));
  --success-foreground: oklch(0.280 0.070 46);

  --info: oklch(61.13% 0.248 312.20);
  --info-transparent: oklch(0.514 0.247 291.21 / 0.3);
  --info-dark: oklch(0.444 0.237 296.21);
  --info-light: oklch(0.554 0.257 286.21);
  --info-brightLight: oklch(0.504 0.447 296.21);
  --info-brightDark: oklch(0.474 0.447 296.21);
  --info-foreground: oklch(0.280 0.070 46);

  --warning: oklch(68.92% 0.206 39.71);
  --warning-transparent: oklch(0.661 0.372 75.45 / 0.3);
  --warning-dark: oklch(0.591 0.362 80.45);
  --warning-light: oklch(0.701 0.382 70.45);
  --warning-brightLight: oklch(0.651 0.672 90.45);
  --warning-brightDark: oklch(0.621 0.672 90.45);
  --warning-foreground: oklch(0.280 0.070 46);

  --tip: oklch(76.08% 0.122 194.90);
  --tip-transparent: oklch(0.595 0.317 176.30 / 0.3);
  --tip-dark: oklch(0.525 0.307 181.30);
  --tip-light: oklch(0.635 0.327 171.30);
  --tip-brightLight: oklch(0.585 0.617 186.30);
  --tip-brightDark: oklch(0.555 0.617 186.30);
  --tip-foreground: oklch(0.280 0.070 46);

  --danger: oklch(64.11% 0.202 23.95);
  --danger-transparent: lch(from var(--color-danger) l c h / 0.3);
  --danger-dark: lch(from var(--color-danger) calc(l - 7) calc(c - 1) calc(h + 5));
  --danger-light: lch(from var(--color-danger) calc(l + 4) calc(c + 1) calc(h - 5));
  --danger-brightLight: lch(from var(--color-danger) calc(l - 2) calc(c + 20) calc(h + 10));
  --danger-brightDark: lch(from var(--color-danger) calc(l - 6) calc(c + 10) calc(h + 10));
  --danger-foreground: oklch(0.280 0.070 46);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: var(--color-blue-300);
  --chart-2: var(--color-blue-500);
  --chart-3: var(--color-blue-600);
  --chart-4: var(--color-blue-700);
  --chart-5: var(--color-blue-800);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);
  --surface: oklch(0.2 0 0);
  --surface-foreground: oklch(0.708 0 0);
  --code: var(--surface);
  --code-foreground: var(--surface-foreground);
  --code-highlight: oklch(0.27 0 0);
  --code-number: oklch(0.72 0 0);
  --selection: oklch(0.922 0 0);
  --selection-foreground: oklch(0.205 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  ::selection {
    @apply bg-selection text-selection-foreground;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    [data-wrapper] {
      @apply min-[1800px]:border-t;
    }
  }

  a:active,
  button:active {
    @apply opacity-60 md:opacity-100;
  }
}

@utility border-grid {
  @apply border-border/50 dark:border-border;
}

@utility section-soft {
  @apply from-background to-surface/40 dark:bg-background 3xl:fixed:bg-none bg-gradient-to-b;
}

@utility theme-container {
  @apply font-sans;
}

@utility container-wrapper {
  @apply 3xl:fixed:max-w-[calc(var(--breakpoint-2xl)+2rem)] mx-auto w-full px-2;
}

@utility container {
  @apply 3xl:max-w-screen-2xl mx-auto max-w-[1400px] px-4 lg:px-8;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility border-ghost {
  @apply after:border-border relative after:absolute after:inset-0 after:border after:mix-blend-darken dark:after:mix-blend-lighten;
}

@utility step {
  counter-increment: step;
  @apply relative;

  &:before {
    @apply text-muted-foreground right-0 mr-2 hidden size-7 items-center justify-center rounded-full text-center -indent-px font-mono text-sm font-medium md:absolute;
    content: counter(step);
  }
}

@utility extend-touch-target {
  @media (pointer: coarse) {
    @apply relative touch-manipulation after:absolute after:-inset-2;
  }
}

@layer components {
  .steps {
    &:first-child {
      @apply !mt-0;
    }

    &:first-child > h3:first-child {
      @apply !mt-0;
    }

    > h3 {
      @apply !mt-16;
    }

    > h3 + p {
      @apply !mt-2;
    }
  }

  [data-rehype-pretty-code-figure] {
    background-color: var(--color-code);
    color: var(--color-code-foreground);
    border-radius: var(--radius-lg);
    border-width: 0px;
    border-color: var(--border);
    margin-top: calc(var(--spacing) * 6);
    overflow: hidden;
    font-size: var(--text-sm);
    outline: none;
    position: relative;
    @apply md:-mx-1;

    &:has([data-rehype-pretty-code-title]) [data-slot="copy-button"] {
      top: calc(var(--spacing) * 1.5) !important;
    }
  }

  [data-rehype-pretty-code-title] {
    border-bottom: color-mix(in oklab, var(--border) 30%, transparent);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-block: calc(var(--spacing) * 2.5);
    padding-inline: calc(var(--spacing) * 4);
    font-size: var(--text-sm);
    font-family: var(--font-mono);
    color: var(--color-code-foreground);
  }

  [data-line-numbers] {
    display: grid;
    min-width: 100%;
    white-space: pre;
    border: 0;
    background: transparent;
    padding: 0;
    counter-reset: line;
    box-decoration-break: clone;
  }

  [data-line-numbers] [data-line]::before {
    font-size: var(--text-sm);
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: calc(var(--spacing) * 16);
    padding-right: calc(var(--spacing) * 6);
    text-align: right;
    color: var(--color-code-number);
    background-color: var(--color-code);
    position: sticky;
    left: 0;
  }

  [data-line-numbers] [data-highlighted-line][data-line]::before {
    background-color: var(--color-code-highlight);
  }

  [data-line] {
    padding-top: calc(var(--spacing) * 0.5);
    padding-bottom: calc(var(--spacing) * 0.5);
    min-height: calc(var(--spacing) * 1);
    width: 100%;
    display: inline-block;
  }

  [data-line] span {
    color: var(--shiki-light);

    @variant dark {
      color: var(--shiki-dark) !important;
    }
  }

  [data-highlighted-line],
  [data-highlighted-chars] {
    position: relative;
    background-color: var(--color-code-highlight);
  }

  [data-highlighted-line] {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      content: "";
      background-color: color-mix(
        in oklab,
        var(--muted-foreground) 50%,
        transparent
      );
    }
  }

  [data-highlighted-chars] {
    border-radius: var(--radius-sm);
    padding-inline: 0.3rem;
    padding-block: 0.1rem;
    font-family: var(--font-mono);
    font-size: 0.8rem;
  }
}